@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');

:root {
    --primary-color:#3a4141;
    --secondary-color:#282c2c;
    --ternary-color:#eca900;
    --dark:black;
    --light:white;
    --transparent-light: #ffffffdd;
    --intermediate: grey;

    --spacing-sm: 4px;
    --spacing: 8px;
    --spacing-2: 16px;

    --container-width:1200px;
    --modal-width:1000px;
    --modal-height:85vh;

    --title-font: 'Smythe', cursive;
    --text-font-size: 16pt;
    --title-font-size: calc(var(--text-font-size) * 2);
    --subtitle-font-size: calc(var(--text-font-size) * 1.5);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin:0;
    padding-bottom: var(--spacing);
    background-image: url('../images/background.webp');
    background-attachment: fixed;
    font-family: var(--title-font);
    font-size:var(--text-font-size);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--container-width);
    background-color: var(--transparent-light);
}

h1 {
    font-size: var(--title-font-size);
    text-align: center;
    color:var(--light);
}

h2 {
    font-size: var(--subtitle-font-size);
    text-align: center;
}

.darker {
    filter:brightness(90%);
}

a:any-link {
    color: var(--dark);
}

/*** FIGHT **/

.fighters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: var(--spacing-2);
}

.fighters figure {
    --fighter-size:200px;
    width: var(--fighter-size);
    height: var(--fighter-size);
    border: 4px solid var(--ternary-color);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.fighters .fight {
    font-size: 64px;
}

.fighters figcaption{
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    margin:auto;
    font-size: var(--subtitle-font-size);
    text-align: center;
}

.fighters img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 0.3s;
}
.fighters img:hover {
    scale:1.1;
}

.round {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.round h2 {
    font-size: var(--text-font-size);
    margin-bottom: 0;
    margin-top: var(--spacing);
}

.win {
    display: flex;
    gap: var(--spacing);
}

.win p {
    background-color: var(--transparent-light);
    padding:var(--spacing-2);
    border:2px solid var(--ternary-color);
    border-radius: 4px;
}

.life {
    display:flex;
}
.life div, .life progress {
    margin:  var(--spacing);
}

/** inventory **/
.hero {
    display: none;
}

.hero:target {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: var(--modal-width);
    height: var(--modal-height);
    position:fixed;
    z-index: 1;
    top: 5vh;
    margin:auto;
    padding:var(--spacing);
    border:2px solid var(--ternary-color);
    border-radius: 4px;
    background-color: var(--light);
    background-image: url("https://transparenttextures.com/patterns/rocky-wall.png");
    box-shadow: 0 0 22px var(--intermediate);
}


.hero .close {
    --size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border:3px solid var(--ternary-color);
    position: absolute;
    z-index: 3;
    padding: var(--spacing);
    color:var(--primary-color);
    text-decoration: none;
    background-color: var(--light);
    width: var(--size);
    height: var(--size);
    top: calc(var(--size) / -2);
    right: calc(var(--size) / -2);
}

.hero img {
    width:100%;
    height: 100%;
    filter:drop-shadow(2px 2px 6px var(--intermediate))
}


/** EQUIPMENT **/

.slots {
    width: calc(100% / 3);
    height: 100%;
    --slot-size:1fr;
    display: grid;
    gap: var(--spacing-sm);
}

.equipment {
    grid-template-columns: repeat(4, var(--slot-size));
    grid-template-rows: repeat(7, var(--slot-size));
}

.slot {
    display:flex;
    justify-content: center;
    align-items: center;   
    background-color: rgba(0,0,0,0.3);    
    padding:var(--spacing);
    box-shadow: 2px 2px 2px inset var(--intermediate);
    position:relative;
    z-index:1;
}

.slot::before {
    content:attr(data-slot);
    position:absolute;
    bottom: var(--spacing);
    right: var(--spacing);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    border-radius: var(--spacing);
    color: var(--intermediate);
    font-size:var(--text-font-size);
}

.slot:not(.statistic) {
    grid-column: span 2;
    grid-row: span 2;
}

.slot:hover img {
    scale:1.02;
    transition: 0.3s ease-in-out;
    filter:brightness(125%);
}

.statistic {
    grid-column: span 1;
    grid-row: span 1;
    font-size: var(--subtitle-font-size);
}


/** CHARACTER **/

.character {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    flex-direction: column;
}

.level {
    text-align:center;
    font-family: var(--title-font);
    font-size: var(--subtitle-font-size);
}


/** INVENTORY **/

.inventory  {
    grid-template-columns: repeat(2, var(--slot-size));
    grid-template-rows: repeat(5, var(--slot-size));
}

.inventory .slot {
    grid-column: span 1;
    grid-row: span 1;
}


