@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');

:root {
    --primary-color:#3a4141;
    --secondary-color:#282c2c;
    --ternary-color:#eca900;
    --dark:black;
    --light:white;
    --intermediate: grey;

    --spacing-sm: 4px;
    --spacing: 8px;
    --spacing-2: 16px;

    --container-width:1000px;
    --container-height:85vh;

    --title-font: 'Smythe', cursive;
    --text-font-size: 16pt;
    --title-font-size: calc(var(--text-font-size) * 2);
    --subtitle-font-size: calc(var(--text-font-size) * 1.5);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    margin:0;
    padding-bottom: var(--spacing);
    background-color: var(--light);

    font-family: var(--title-font);
    font-size:var(--text-font-size);
}

h1 {
    font-size: var(--title-font-size);
    text-align: center;
}

h2 {
    font-size: var(--subtitle-font-size);
    text-align: center;
}

.darker {
    filter:brightness(90%);
}

.pilars {
    width: var(--container-width);
    height: calc(100vh - var(--container-height));
    background-image: url('../images/pillar.svg');
    background-size: calc(var(--container-width) / 5);
    background-repeat: repeat-x;
}

.hero {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: var(--container-width);
    height: var(--container-height);
    padding:var(--spacing);
    border:2px solid var(--ternary-color);
    border-radius: 4px;
    background-color: var(--light);
    background-image: url("https://transparenttextures.com/patterns/rocky-wall.png");
}

.hero svg {
    width:100%;
    height: 100%;
    filter:drop-shadow(2px 2px 6px var(--intermediate))
}


/** EQUIPMENT **/

.slots {
    width: calc(100% / 3);
    height: 100%;
    --slot-size:1fr;
    display: grid;
    gap: var(--spacing-sm);
}

.equipment {
    grid-template-columns: repeat(4, var(--slot-size));
    grid-template-rows: repeat(7, var(--slot-size));
}

.slot {
    display:flex;
    justify-content: center;
    align-items: center;   
    background-color: rgba(0,0,0,0.3);    
    padding:var(--spacing);
    box-shadow: 2px 2px 2px inset var(--intermediate);
    position:relative;
    z-index:1;
}

.slot::before {
    content:attr(data-slot);
    position:absolute;
    bottom: var(--spacing);
    right: var(--spacing);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    border-radius: var(--spacing);
    color: var(--intermediate);
    font-size:var(--text-font-size);
}

.slot:not(.statistic) {
    grid-column: span 2;
    grid-row: span 2;
}

.slot:hover svg {
    scale:1.02;
    transition: 0.3s ease-in-out;
    filter:brightness(125%);
}

.statistic {
    grid-column: span 1;
    grid-row: span 1;
    font-size: var(--subtitle-font-size);
}


/** CHARACTER **/

.character {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    flex-direction: column;
}

.level {
    text-align:center;
    font-family: var(--title-font);
    font-size: var(--subtitle-font-size);
}


/** INVENTORY **/

.inventory  {
    grid-template-columns: repeat(2, var(--slot-size));
    grid-template-rows: repeat(5, var(--slot-size));
}

.inventory .slot {
    grid-column: span 1;
    grid-row: span 1;
}


